<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>
<div>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         order
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">searchSortUnspecified</a></li>
        <li><a class="dropdown-item" href="#">date</a></li>
        <li><a class="dropdown-item" href="#">rating</a></li>
        <li><a class="dropdown-item" href="#">viewCount</a></li>
    </ul>
</div>
<app-selected-video></app-selected-video>
