<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Minitube</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              region
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">US</a></li>
              <li><a class="dropdown-item" href="#">FR</a></li>
        
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container">
  <!-- 
    la liste des video doit etre une liste groupé par 3
    puis on fait un ngFor sur cette liste qu'on passe a app-video-row pour l'affichage
  -->
  <app-video-row></app-video-row>
  <app-video-row></app-video-row>
  <app-video-row></app-video-row>
  <app-video-row></app-video-row>
</div>



