<nav class="nav">
  <a class="nav-link" routerLink="/home">Home</a>
  <a class="nav-link active" aria-current="page" routerLink="/video">Video</a>
  <a class="nav-link" routerLink="/research">Research</a>
</nav>
<router-outlet></router-outlet>
<div class="container">
  <div class="row row-cols-auto">
    <div class="col">GitLab</div>
    <div class="col">Linkedin</div>
    <div class="col">Instagram</div>
    <div class="col">Facebook</div>
  </div>
</div>